.contacts {
  padding: 120px 0;

  @include vp-1023 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 65px 0;
  }
}

.contacts__map {
  width: 48.28%;
  height: 306px;

  @include vp-1023 {
    width: 47.79%;
    height: 335px;
  }

  @include vp-767 {
    width: 100%;
    height: 316px;
  }
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
  }
}

.contacts__address-wrapper {
  width: 43.1%;
  margin-top: -2px;

  @include vp-1023 {
    width: 47.79%;
    margin-top: -3px;
  }

  @include vp-767 {
    width: 100%;
    order: -1;
    margin-top: -7px;
    margin-bottom: 37px;
  }

  & > p {
    margin: 0;
    margin-bottom: 33px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    @include vp-1023 {
      margin-bottom: 27px;
    }
  }

  & a {
    $link-color: $color-tangaroa-dark;
    color: $link-color;

    &::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgba($link-color, 0.8);
      transform: scale(0);
      opacity: 0;
      transition: transform $trans-default, opacity $trans-default;
      content: "";
    }

    @include hover {
      &::after {
        transform: scale(1);
        opacity: 1;
      }
    }

    @include focus {
      outline: 3px solid $color-koromiko-accent;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.contacts__item {
  position: relative;
  display: block;
  width: fit-content;
  margin: 0;
  margin-top: 20px;
  padding-left: 28px;

  & img {
    position: absolute;
    top: 2px;
    left: 0;
  }

  & span {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}
