// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482
$color-alice-blue-lite:             #f9fbfd;
$color-tangaroa-dark:               #011c40;

$color-solitude-lite:               #e3ecf6;
$color-prussian-blue-dark:          #002f6a;
$color-quartz:                      #d8d8d9;

$color-koromiko-accent:             #ffb451;
$color-pastel-green:                #7cde8b;
$color-burnt-sienna:                #f27a5c;

// Gradient

$gradient-bottom-top:    linear-gradient(to top, $color-transparent 50%, $color-tangaroa-dark 100%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;
$ff-placeholder:                    "Montserrat", "Trebuchet MS", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease-out;
$tf-reverse:                        ease-in;
$trans-default:                     0.2s $tf-default;
$trans-reverse:                     0.2s $tf-reverse;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1160:                           1160px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
